<svg width={{canvasSize}} height={{canvasSize}} viewBox="0 0 {{canvasSize}} {{canvasSize}}" xmlns="http://www.w3.org/2000/svg">
  <polygon fill={{color}} points="0,0 {{canvasSize}},0 {{size}},{{canvasSize}}" />
</svg>
{{#if speak}}
  <span class='speaking'>
    "{{speak}}"
  </span>
{{/if}}