<svg width={{canvasSize}} height={{canvasSize}} viewBox="0 0 {{canvasSize}} {{canvasSize}}" xmlns="http://www.w3.org/2000/svg">
  <circle cx={{size}} cy={{size}} r={{size}} fill={{color}} />
</svg>
{{#if speak}}
  <span class='speaking'>
    "{{speak}}"
  </span>
{{/if}}


color: {{color}}
